# <span style="color:purple">Datetime notebook, ATM350 Spring 2023 </span>

## Imports

In [1]:
import datetime

### The `datetime` module includes the following *classes*:
1. **date**
1. **datetime**
1. **time**
1. **timedelta**
1. **timezone**
1. **tzinfo**

datetime, timedelta, date, time, tzinfo, timezone

### It also includes these associated **methods**:
1. **strftime**
1. **strptime**

### Get the current time by making a call to datetime's datetime.now method. It produces a <i>datetime</i> object with the year, month, day, hour, minute, second and microsecond.

In [2]:
x = datetime.datetime.now()

In [3]:
x

datetime.datetime(2023, 3, 2, 17, 31, 35, 658638)

In [4]:
print(x)

2023-03-02 17:31:35.658638

### This datetime object contains a variety of **attributes** that we can list, as well as reformat.

In [5]:
x.year

2023

In [6]:
x.month

3

### We can use the <i>strftime</i> method on a datetime object in order to produce date/time strings in a specified format.  
#### We'll play around with a few of these options in the cells below, but visit https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior for full documentation of <i>strftime</i>!

In [10]:
# %A or %a will list the full name of the day of the week:
x.strftime("%A")

'Thursday'

In [8]:
# %y will list the two-digit year, %m, the two-digit month, and %d, the two-digit date:
print(x.strftime("%y"))
print(x.strftime("%m"))
print(x.strftime("%d"))

23
03
02

### Let's combine the year, month, and day, into a date string we're used to using in ATM 350!  We can define a new object called <i>today</i> as the output from our strftime method, still using our the datetime object "x" we created using the datetime.now() method:

In [11]:
today = x.strftime("%y is the year %m is the month  %d is the day")
print(today)

23 is the year 03 is the month  02 is the day

In [12]:
# Let's add the hour to that!
x.strftime("%y%m%d%H")

'23030217'

In [13]:
# What if we wanted to define a more human-friendly string to use in a title of a graphic?
x.strftime("%y%m%d at %HZ")

'230302 at 17Z'

### Exercise:  Using the documentation in the link below, create a title string from today's date in the format:  "DD Month YYYY at HHMM UTC".  For example: <span style='color:orange'> 10 June 1983 at 1435 UTC </span>:
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [ ]:
# Enter your code here:

In [16]:
# %load /spare11/atm350/common/feb28/datetime_1.py
x.strftime("%d %B %Y at %H%M UTC")

'02 March 2023 at 1731 UTC'

### We can <i>create</i> datetime objects with the datetime.datetime() class constructor.

In [17]:
y = datetime.datetime(2023,5,14,17,29,0)

In [18]:
y

datetime.datetime(2023, 5, 14, 17, 29)

In [19]:
print(y.year)
print(y.month)
print(y.hour)
print(y.minute)

2023
5
17
29

## Besides the <i>datetime</i> class, there is also just a plain <i>date</i> class, that only deals with dates (not times). A "time" class also exists with a similar purpose.

In [20]:
from datetime import date, time

In [21]:
a = date(2024,11,2)
print(a)

2024-11-02

### Just as there was a *now()* method for the `datetime` class, there is a *today()* method for the `date` class.

In [22]:
today = date.today()
print("Current date = ", today)

Current date =  2023-03-02

In [23]:
print ("Current year is: ", today.year)
print ("Current month is: ", today.month)
print ("Current day is: ", today.day)

Current year is:  2023
Current month is:  3
Current day is:  2

### Here are some examples of the `time` class of datetime objects:

In [24]:
# time(hour = 0, minute = 0, second = 0) ... In other words, no arguments provided, so defaults of 0 are used for hour, minute, and second:
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(7, 29, 18)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 7, minute = 29, second = 18)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(7, 29, 18, 679122)
print("d =", d)

a = 00:00:00
b = 07:29:18
c = 07:29:18
d = 07:29:18.679122

### These look like strings. Are they?

In [25]:
type(b)

datetime.time

### No ... they are datetime <i>objects</i> of <i>class</i> time.

### We can also call specific attributes of these objects:

In [26]:
print("hour =", d.hour)
print("minute =", d.minute)
print("second =", d.second)
print("microsecond =", d.microsecond)

hour = 7
minute = 29
second = 18
microsecond = 679122

### It is "cleaner" to import the various classes available to us in the datetime library by importing them in the following way (we will discuss timedelta shortly!).  Note that this allows us to just call the class "datetime" as opposed to datetime.datetime.

In [27]:
from datetime import datetime, timedelta

In [28]:
#A few examples of creating datetime objects:

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

### We can also use some basic arithmetic to calculate time between dates!

In [29]:
t1 = date(year = 2021, month = 7, day = 12)
t2 = date(year = 2020, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

### Datetime's <i>timedelta</i> class allows us to easily compute dates and times earlier or later than a base time.
### Note that these objects are defined as a <i> period of time</i>, rather than a date.

In [30]:
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 + t2

print("t3 =", t3)

t3 = 23 days, 12:05:27

In [31]:
t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

### Timedelta includes a <i>total_seconds()</i> method:

In [32]:
t = timedelta(days = 6, hours = 13, seconds = 53, microseconds = 232436)
print("total seconds =", t.total_seconds())
print("total minutes =", t.total_seconds()/60)

total seconds = 565253.232436
total minutes = 9420.887207266667

### Note that "months" is not a valid timedelta argument!!  Why not?

In [38]:
t1 = timedelta (months = 1)

TypeError: 'months' is an invalid keyword argument for __new__()

### However, if our `datetime` object includes a month, we *can* compute a time delta in months via the `relativedelta` function from a separate package, `dateutil`:

In [39]:
from dateutil.relativedelta import relativedelta

today + relativedelta(months=2)

datetime.date(2023, 5, 2)

### As we learned at the beginning of this notebook, datetime's <i>datetime</i> class includes the  <i>strftime</i> method which takes a datetime object and converts it into a string, which can be formatted.  Review from earlier...

In [40]:
# current date and time
curtime = datetime.now()

string1 = curtime.strftime("%H:%M:%S")
print("string1:", string1)

string2 = curtime.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("string2:", string2)

string3 = curtime.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("string3:", string3)

string1: 17:51:31
string2: 03/02/2023, 17:51:31
string3: 02/03/2023, 17:51:31

### Conversely, the <i>strptime</i> method takes an appropriately-formatted date/time string and converts it into a datetime object.

In [41]:
#Start with a string:
date_string = "10 June, 2023"
print("date_string =", date_string)

#Convert to a date object, making sure to include the appropriate formatting we used in the string:
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 10 June, 2023
date_object = 2023-06-10 00:00:00

### Calculate a new date and convert it into its string representation

In [42]:
new_date_object = date_object + timedelta (days=14)
print(new_date_object)
new_date_string = new_date_object.strftime ("%d %B, %Y")
print(new_date_string)

2023-06-24 00:00:00
24 June, 2023

### Exercise:  Create a date object from a string <span style='color:orange'>"1900 UTC 22 May 2014" </span>

In [43]:
#Enter your code here:

In [ ]:
# %load /spare11/atm350/common/feb28/datetime_2.py

### Timezone can be manipulated via the <i>pytz</i> library.  <span style='color:green'> pytz </span> stands for Python Time Zone.

In [ ]:
import pytz

# What time is our computer set to?
system = datetime.now()
print("system:", system.strftime("%m/%d/%Y, %H:%M:%S"))

### Here we can pass a specific time zone into the <i>datetime.now()</i> method:

In [ ]:
tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

In [ ]:
tz_Amsterdam = pytz.timezone('Europe/Amsterdam')
datetime_Amsterdam = datetime.now(tz_Amsterdam)
print("Amsterdam:", datetime_Amsterdam.strftime("%m/%d/%Y, %H:%M:%S"))

## References

1. https://docs.python.org/3/library/datetime.html 
1. https://foundations.projectpythia.org/core/datetime/datetime.html
1. https://www.w3schools.com/python/python_datetime.asp
1. https://www.programiz.com/python-programming/datetime
1. https://dateutil.readthedocs.io/en/stable/index.html